<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/room.css">
    <!-- <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script> -->
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script> -->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> --> 
    <title>{{ roomname }}</title>
    <style>
      .list-group-item{
          padding: 5px;
      }
      #leave{
          float:left;
      }
      #dissolution,#send_notice{
          float:right;
      }
      .out{
          position: relative;
          left:0;
          display:none;
      }
      #send_notice_window{
        width: 40%;
        background-color: beige;
        padding: 3%;
        display: block;
        border-radius: 15px;
      }


    </style>
</head>
<body>
    <div class="container">
        <div id="send_notice_window" class="center-block" >
        <lable>发布公告：</lable>
        <textarea class="form-control" style="height: 65%;"></textarea>
    </div>
        <button class="btn btn-warning" id="leave">退出聊天室</button>
        <header class="text-center">
            {{ roomname }}
        </header>        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4" id="user_list" >
                <div class="username btn btn-block " id='btn_modify' >
                    <h2 id="uname">{{ username }}</h2>
                    <a>点击修改个人信息</a>
                    
                </div>
                <div>
                聊天室成员列表
                </div>
                <div class="list-group" id="users-list">

                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8" id="chat_record">
                <div class="item"  style='display: none;'>
                    <span class="speaker" >说话的人</span>
                    <div class='bubble'>这个是测试用的气泡</div>
                </div>
                <div id="bottom"></div>                
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4" id="file_list">
                <div>文件列表</div>
                <div class="list-group" id="files-list">
                    <!-- <a class="list-group-item" href='/static/files/hello.py' download="hello.py"></a> -->
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8" id="text_area">
                <textarea class="form-control" style="height: 65%;"></textarea>
                <button id="btn" class="btn btn-info">发送</button>
<!--                <form action="/upload" method="post"  enctype="multipart/form-data" id='upform'>-->
                <form method="post"  enctype="multipart/form-data" id='upform'>
                    <div class="glyphicon glyphicon-floppy-open btn" id='upload'></div>
                    <input type='file' name='myfile' id='up' style="display: none;">
                </form>
            </div>
        </div>
    </div>
    <div id="modify" class="center-block">
			<form>
				<div class="form_group">
					<label for='n_name'>请输入新用户名:</label>
					<input type="text" id="n_name" class="form-control">
				</div>
				<div class="from_group">
					<lable for="n_pass">请输入新密码:</lable>
					<input type="password" id="n_pass" class="form-control">
				</div>
				<div class="from_group">
					<lable for="rn_pass">请重复输入新密码:</lable>
					<input type="password" id="rn_pass" class="form-control">
				</div>
				<div class="form_group">
					<label for='n_tel'>请输入手机号码:</label>
					<input type="text" id="n_tel" class="form-control">
					<div id="msg"></div>
				</div>
				<div>
					<button type="button" class="btn btn-info btn-block" id="modify_btn">提交</button>
					<button type="button" class="btn btn-danger btn-block cancel" >取消</button>
				</div>
			</form>
		</div>


<script>

$("#modify").hide()
$("#send_notice_window").hide()
$("#btn_modify").click(function(){
    $(".container").fadeOut(100)
    $("#modify").fadeIn(100)
})
$(".cancel").click(function(){
    $("#modify").fadeOut(100)
    $(".container").fadeIn(100)
})
var user=null;
var owner=null;
var notify=null;
var users_list=[];
$('#modify_btn').click(function(){
    $.ajax({
        url:'/user/modify',
        type:'post',
        dataType:'json',
        data:JSON.stringify({username:$('#n_name').val(),password:$("#n_pass").val(),repassword:$("#rn_pass").val(),tel:$("#n_tel").val()}),
        contentType:"application/json",
        success:function(res){
            console.log(res);
            if(res['code']==200){
                console.log('yes')
                $("#msg").html('修改成功').css('color','green')
                location.reload()
            }
        }
    })
})
    $("#upload").click(function(){
        f=$('#up')
        f.click()
        f.change(function(){
            console.log(f[0].files[0])
            var formdata=new FormData();
            formdata.append('file',f[0].files[0])
            $.ajax({
                url:'/upload',
                type:'post',
                data:formdata,
                processData:false,// 不处理数据
                contentType:false,// 不设置内容类型，按原格式传输
                success:function(res){
                    console.log(res)
                    notify.close()
                },
                beforeSend:function(){
                    notify = new Notification(
                      '上传文件',
                      {
                          dir:'auto',
                          lang:'zh-CN',
                          tag:0,//实例化的notification的id
                          title:'上传文件', //通知的标题
                          body:'文件正在上传请不要刷新浏览器哦' //通知的具体内容
                      }
                    );
                }


            })
        })
    })
    $("#leave").click(function(){window.location.href='/index'})
    $("#dissolution").click(function(){
        var r=confirm('解散聊天室将同时删除聊天记录和文件.确定解散聊天室?')
        if (r==true){
            console.log('true')
            $.ajax({
                url:'leave',
                type:'get',
                dataType:'json',
                success:function(res){
                    console.log(res)
                    if (res['code']==40){
                        location.reload()
                    }else{
                        window.location.href='/index'

                    }

                }
            })
        }else{
            console.log('false')

        }
    })
    $(document).ready(function(){
        $.ajax({
            url: 'roomuser/set',
            type: 'get',
            dataType: 'json',
            success: function(res){
               console.log(res)
               if (res['code']==404){
                    var d=alert('您被踢出聊天室')
                    window.location.href='/index'
               }
               $.ajax({
                    url: 'roomuser/get',
                    type: 'get',
                    dataType: 'json',
                    success: function(res){
                       console.log(res)
                       if(res['code']==200){
                            $.each(res['data'],function(i,e){
                                $("#users-list").html()
                                $("#users-list").append($("<a href='#' class='list-group-item text-center'>"+e+"</a>"))
                                users_list.push(e)
                            })
                       }
                    }
                })
            }
        })



        $.ajax({
            url:'/chat',
            type:'post',
            data:JSON.stringify({msg:'read'}),
            contentType:'application/json',
            dataType:'json',
            success:function(res){
                console.log(res)
                user=res['user']
                $("#chat_record").html()
                owner=res['owner']

                $.each(res.data,function(i,e){
                    if(user==e.user__username){
                        var say=$("<div class='item'><br/><div class='rebubble'>"+e.content+"</div></div>")

                    }else{
                        var say=$("<div class='item'><span class='glyphicon glyphicon-log-out btn out'></span><span class='speaker'>"+e.user__username+"</span><div class='bubble'>"+e.content+"</div></div>")
                    }


                    $("#bottom").before(say)

                })
                if(owner==user){
                    $(".container").prepend('<button class="btn btn-danger" id="dissolution">解散聊天室</button><button class="btn btn-info" id="send_notice">发布公告</button>')
                    $()
                    $("#send_notice").click(function(){
                        $(".container").css('opacity', '0.5');
                        $("#send_notice_window").fadeIn(100)
                    })
                    $(".out").css('display','inline-block').click(function(){
                        // console.log($(this).next('span')[0].innerText)
                        var outname=$(this).next('span')[0].innerText
                        var c = confirm('是否将'+outname+'踢出当前聊天室？')
                        if (c){
                            if(outname in users_list){
                                $.ajax({
                                    url:'/roomuser/out?name='+outname,
                                    type:'post',
                                    dataType:'json',
                                    success:function(res){
                                        console.log(res)
                                    }
                                })
                                showNotification('踢出'+outname,'您将'+outname+'踢出了聊天室','')
                        }else{
                              showNotification('踢出失败',outname+'已经不在当前聊天室','')
                        }
                    }



                    })
                }
            }
        })
        $.ajax({
            url:'/files',
            type:'get',
            dataType:'json',
            success:function(res){
                console.log(res)
                $.each(res['data'],function(i,e){
                    $("#files-list").html()
                    $("#files-list").append(
                        $("<a href='"+res['path']+e.fname+"' class='list-group-item text-center' download='"+e.fname+"'>"+e.fname+"</a>")
                    )
                })
            }

        })


        $("#btn").click(function(){
            $.ajax({
                url:'/chat',
                type:'post',
                dataType:'json',
                contentType:'application/json',
                data:JSON.stringify({
                    msg:'say',
                    message:$("textarea").val()
                }),
                beforeSend:function(){
                    $("#chat_record").append(
                        $("<div class='item'><br/><span class='ing glyphicon glyphicon-send'></span>"+"<div class='rebubble'>"+$("textarea").val()+"</div></div>")
                        )
                },
                success:function(){
                    $(".ing").css('display','none');
                    //让滚动条到最底部
                    // $(window).scrollTop($('#botm').offset().top);
                    //$("#chat_record").href('botm')
                    $("#chat_record").scrollTop($('#bottom').position().top);

                }
            })
            $("textarea").val('')
        })


    })
function showNotification(title,msg,imgUrl){
  var Notification = window.Notification || window.mozNotification || window.webkitNotification;
  // 判断浏览器是否支持桌面通知
  if(Notification){
      Notification.requestPermission(function(result){
          //result 默认值'default'等同于拒绝 'denied' -用户选择了拒绝 'granted' -用户同意启用通知
          if("granted" != result){
              alert('请授权浏览器能够进行通知!');
              return false;
          }else{
              var tag = "sds"+Math.random();
              notify = new Notification(
                  title,
                  {
                      dir:'auto',
                      lang:'zh-CN',
                      tag:tag,//实例化的notification的id
                      icon:imgUrl,//通知的缩略图,icon 支持ico、png、jpg、jpeg格式
                      title:title, //通知的标题
                      body:msg //通知的具体内容
                  }
              );
              notify.onshow = function () {
                    setTimeout(function(){
                        notify.close()
                    },3000)
              }

          }
      });
  }else{
      // 提示不支持系统通知
      alert('您的浏览器不支持系统通知,建议使用Chrome浏览');
  }
}


</script>
</body>
</html>